@tailwind base;
@tailwind components;
@tailwind utilities;

.main-tool-bar {
    height: 200px;  
    text-align: center;
    display: flex;
    padding-bottom: 30px;
    align-items: end;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: ease 0.4s;
  }
  
  .main-tool-bar--scrolled {
    height: 75px;
  }